*{
	margin:0;
	padding:0;
}

.navbar
{
	height :80px;
	width :100%;
	background :#4dff88;
}	
.navbar ul
{
  float: right;
  margin-right:15px;
}
.logo
{
	width: 250px;
	height:80px;
	padding-top :2px ;
	padding-left :100px;
}
.navbar ul li {
  list-style:none;
  margin :0 5px;
  line-height: 80px;
  display:inline-block;
}
.navbar ul li a 
{
  text-decoration:none;
  color:#2D5123;
  padding : 6px 7px;
  font-size : 22;
  font-family : 'Roboto' sans-serif;
  transition : -4s;
}
.navbar ul li a.active,
.navbar ul li a:hover
{	
	background: white;	
	border-radius:2px;
	height:50px;
	width:80px;
}	

.bgwrap .bannerimg
{
		padding-top:25px;
		height :500px;
		width : 1300px;
}
  .sublist1
{
	display: none;
}
.navbar ul li:hover .sublist1
{
	display:block;
	position:absolute;
	height: 50px;
	width: 130px;
	margin-left:100px;
}

.navbar ul li:hover .sublist1 .subul
{
	background :#4dff88;
}

.navbar ul li:hover .sublist1 .subul .subli
{
	width:200px;
	padding-left:10px;
	border-bottom:1px solid #fff;
	border-radius:0;
	text-align: center;
}
.navbar ul li:hover .sublist1 .subul .subli:last-child
{
	border-bottom:none;
}
.bgwrap .info .p1
{
	font-family : Constantia;
	letter-spacing :4;
	color : red;
}
.active, .ddnav:hover {
  background-color: white;
  color: white;
}

.foot footer
{
	position :absolute;
	width : 100%;
	background : #33ff77;
	border-top: 5px solid #66ffe0;
}

.foot footer p
{
  
  margin-left:50;
  text-decoration:none;
  color:#2D5123;
  font-size : 18;
  font-family : 'Roboto' sans-serif;  
}	